<footer id="colorlib-footer" role="contentinfo">
	<div class="container">
		<div class="row row-pb-md">
			<div class="col-md-4 colorlib-widget text-center ">
				<h4><%=__("Suneey Service")%></h4>
				<p> <%=__('footerText')%></p>

			</div>


			<div class="col-md-4 text-center">
				<h4><%=__('Contact Information')%></h4>
				<ul class="colorlib-footer-links">
					<li><i class='icon-location'> </i>Sebastia 78</li>
					<li><i class='icon-phone2'> </i><a href="tel://1234567920">+ 374-43-50-30-77</a></li>
					<li><i class='icon-mail5'> </i><a href="mailto:info@yoursite.com">suneeytandt@gmail.com</a></li>
				</ul>
				<p>
					<ul class="colorlib-social-icons">
						<li><a target="blank" href="https://www.facebook.com/suneeyservice/"><i
									class="icon-facebook"></i></a></li>
						<li><a target="blank" href="https://www.instagram.com/suneey_service/"><i
									class="icon-instagram"></i></a></li>
						<li><a target="blank" href="https://vk.com/sunnyservice"><i class="icon-vk"></i></a></li>

					</ul>
				</p>
			</div>
			<div class="col-md-4 ">
				<section id="contact" class="section">

					<!-- Container Starts -->
					<div class="container">
						<!-- Start Row -->
						<div class="row">
							<div class="col-lg-12">
								<div class="contact-text section-header text-center">
									<div>
										<h4><%=__("Get in Touch ")%></h4>
										<!-- <div class="desc-text">
												 <p><%=__("subTitleGetInTouch")%></p>
											   </div> -->
									</div>
								</div>
							</div>

						</div>
						<!-- End Row -->
						<!-- Start Row -->
						<div class="row">

							<form id="contactForm">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name"
												placeholder="<%=__('Name')%>" required
												data-error="Please enter your name">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" placeholder="<%=__("Subject")%>" id="msg_subject"
												class="form-control" name="msg_subject" required
												data-error="Please enter your subject">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="email" name="email"
												placeholder="<%=__("Email")%>" required
												data-error="Please enter your Email">
											<div class="help-block with-errors"></div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" id="message" name="message"
												placeholder="<%=__("Write Message")%>" rows="4"
												data-error="Write your message" required></textarea>
											<div class="help-block with-errors"></div>
										</div>
										<div class="submit-button">
											<button class="btn btn-common " id="submit"
												type="submit"><%=__("Submit")%></button>
											<div id="msgSubmit" class="h3 hidden"></div>
											<div class="clearfix"></div>
										</div>
									</div>
									<!-- </div>            
										 </form> -->
								</div>

						</div>
						<!-- End Row -->
					</div>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved |
				</p>
			</div>
		</div>
	</div>
</footer>
</div>

<div class="gototop js-top">
	<a href="#" style="background: #146cf9" class="js-gotop "><i class="icon-arrow-up2"></i></a>
</div>
<script src="/js/lightbox.js"></script>
<script src="/js/lightbox-plus-jquery.js"></script>


<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="/js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/magnific-popup-options.js"></script>
<!-- Date Picker -->

<!-- Main -->
<script src="/js/main.js"></script>

</body>

</html>