<%- include('./layouts/header.ejs'); %>
		<div id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url('./images/indexHead1.jpg'); opacity: 0.3;">
			   
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row firstLayout">
				   			<div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					
				   					<h2><%=__("Welcome to")%></h2>
									   <h1><%=__("Suneey Service")%></h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url('./images/xorovac.jpg');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row secondLayout">
				   			<div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   				
				   				</div>
				   			</div>
				   		</div>
			   		</div>
				   </li>
				   <li style="background-image: url('./images/m33.jpg');">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row secondLayout">
							<div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 slider-text">
								<div class="slider-text-inner text-center">
									
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url('./images/arzni_med.jpg');">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row secondLayout">
							<div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 slider-text">
								<div class="slider-text-inner text-center">
									
								</div>
							</div>
						</div>
					</div>
				</li>
			  	</ul>
		  	</div>
		</div>

		
		<div class="row justify-content-center   service_icons" style="width: 100%; float:left; margin-bottom:90px; margin-top: 100px">
			<a href="/tour/historical-cultural" class="col-md-3 col-sm-6 col-xs-12 text-center tour_logos_main">
						<img src="/images/historical_cultural_logo.png" width="200px" height="200px">
						<h4>Պատմամշակութային </h4>
				</a>
				<a href="/tour/gastronomic" class="col-md-3 col-sm-6 col-xs-12 text-center tour_logos_main ">
							<img src="/images/food_logo.jpg" width="200px" height="200px">
							<h4>Գաստրոնոմիկ </h4>
				</a>
				<a href="/tour/adventure" class="col-md-3 col-sm-6 col-xs-12 text-center tour_logos_main">
						<img src="/images/adventure_logo.png" width="200px" height="200px">
						<h4>Արկածային </h4>
				</a>
				<a href="/tour/medical" class="col-md-3 col-sm-6 col-xs-12 text-center tour_logos_main">
						<img src="/images/med_logo.png" width="200px" height="200px">
						<h4>Բուժական </h4>
				</a>
			</div>


		<div class="colorlib-tour colorlib-light-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3 text-center colorlib-heading animate-box">
						<h2><%=__("Popular Destination")%></h2>
					
					</div>
				</div>
			</div>
			<div class="tour-wrap">
				<%data.forEach(dest=>{%>
				<a href="tour/<%=dest.tour.name +'/'+ dest.top.name %>" class="tour-entry animate-box">
					<div class="tour-img" style="background-image: url(images/<%=dest.top.img%>);">
					</div>
					<span class="desc text-center">
						<%# <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p> %>
						<h2><%=dest.top.title[lng]%></h2>
						<% if(dest.tour.name === 'historical-cultural'){%>
							<span class="price">Սկսած <%=dest.top.prices[11].price%> <img width="15px" height="15px" class="darm_icon" src="/images/dram.png"></span>
						<%}%>
						<% if(dest.tour.name === 'gastronomic'){%>
							<span class="price">Սկսած <%=dest.top.prices.guide[4]%> <img width="15px" height="15px" class="darm_icon" src="/images/dram.png"></span>

						<%}%>
						<% if(dest.tour.name === 'historical_cultural'){%>
						
						<%}%>
						
					</span>
				</a>
				<%})%>
			</div>
		</div>
	
	</div>	


	<%- include('./layouts/footer.ejs')%>