<%- include('../layouts/header.ejs') %>
<div class="colorlib-loader"></div>
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides ">
            <li style="background-image: url(/images/<%=data.img%>);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row firstLayout">
                        <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1><%=data.title[lng]%></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div class="descriptionRow">
    <h2 class="text-center text-info ">Նկարագրություն</h2>
    <br>
    <div class="row">
        <div class="col-md-8 text-center ml-auto mr-auto">
            <p>
                <%=data.description[lng]%>
            </p>
            <br><br>
            <span> <%=data.spec_description[lng]%></span>
        </div>
    </div>
</div>
    <%# Gastronomic single tour prices %>
    <h2 class="text-center mt-2 mb-1">Գնացուցակ </h2>
<div class="row justify-content-center">
        <div style="overflow-x: auto; direction: ltr">
            <table class="teble table-bordered  table-success text-center table-hover   ">
                <thead>
                    <th>

                        <%for(let i = 1; i < data.prices.length/2 + 1; i++ ){ %>
                            <td><%=i%> Անձ</td>
                        <% }%>

                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Գիդ</td>
                        <%data.prices.forEach( elem => {if(elem.head){%>
                        <td><%=elem.price%> Դ</td>
                        <%}})%>
                        <td>-</td>
                       
                        
                    </tr>
                    <tr>
                        <td>Առանց Գիդ</td>
                        <%data.prices.forEach( elem => { if(!elem.head){%>
                        <td><%=elem.price%> Դ</td>
                        <%}})%>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div class="row ">
    <div class="col-md-3">
        <div class="card desc_card">
            <img width="100px" height="100px" src="/images/schedule.png">
            <div class="card-body text-center">
                <h5 class="card-text">Ժամանակահատվածը</h5>
                <div><%=data.time%> ժամ</div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card desc_card">
            <img width="100px" height="100px" src="/images/map.png">
            <div class="card-body text-center">
                <h5 class="card-text">Տեսարժան վայրեր</h5>
                <div><%=data.places[lng]%></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card desc_card ">
            <img width="100px" height="100px" src="/images/price_include.png">
            <div class="card-body text-center">
                <h5 class="card-text">Արժեքը <br>ներառում է</h5>
                <div><%=data.price_include [lng]%></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card desc_card ">
            <img width="100px" height="100px" src="/images/price_exclude.png">
            <div class="card-body text-center">
                <h5 class="card-text">Արժեքը <br>չի ներառում</h5>
                <div><%=data.price_exclude [lng]%></div>
            </div>
        </div>
    </div>

</div>


</div>
<style>
    .table {
        display: block !important;
    }

    .desc_card {
        display: flex;
        align-items: center;
        margin: 10px;
        padding-top: 10px;
        max-height: 300px;
        background: linear-gradient(to top, #56ccf2, #2f80ed);

    }

    .card {
        min-height: 300px !important
    }

    .desc_card div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #colorlib-hero {
        margin-bottom: 50px;
    }

    /* linear-gradient(58deg , #00b4db, #0083b0) */
</style>
<%- include('../layouts/footer.ejs')%>